// @include font-face("passionsconflictrob-webfont", "../fonts/passionsconflictrob-webfont", $file-formats: svg ttf eot woff2 woff);

body {
    font-size: 13px;
    line-height: 1.3;
    font-family:$ss-stack;
    color:$text-color;
}
// Liens
a {
    text-decoration:none;
    color:$text-color;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-family:$ss-stack;
    margin:0 0 .8em;
}
h1 {
    font-size: 2em;
    &.title { margin:.6em 0; }
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

p {
    @include word-wrap(break-word);
    // cleaning up the ragged lines and breaks
    @include hyphens(auto);
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;
    // enabling fancy ligatures when available
    @include font-feature-settings("liga", "dlig", "kern" true);
}

strong {
    font-weight:bold;
}
em {
    font-style:italic;
}
