/* line 5, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../src/scss/_template.scss */
body {
  margin: 0;
}

/* line 2, ../../src/scss/_template.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 5, ../../src/scss/_template.scss */
ul, ol {
  margin-left: 0;
}

/* line 8, ../../src/scss/_template.scss */
ul {
  list-style: none;
}

/* line 11, ../../src/scss/_template.scss */
ol {
  list-style-type: decimal;
}
/* line 12, ../../src/scss/_template.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 13, ../../src/scss/_template.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 18, ../../src/scss/_template.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 24, ../../src/scss/_template.scss */
blockquote {
  padding: 1.6em 1.8em;
  margin: .6em 0;
}
/* line 27, ../../src/scss/_template.scss */
blockquote p {
  margin: 0;
}

/* line 36, ../../src/scss/_template.scss */
sup, sub {
  font-size: .7em;
  position: relative;
}

/* line 40, ../../src/scss/_template.scss */
sup {
  bottom: .6em;
}

/* line 41, ../../src/scss/_template.scss */
sub {
  top: .2em;
}

/* line 42, ../../src/scss/_template.scss */
small {
  font-size: .75em;
}

/* line 43, ../../src/scss/_template.scss */
acronym {
  text-decoration: dotted;
  cursor: help;
  border-bottom: 1px dotted;
  border-bottom-color: inherit;
}

/* line 50, ../../src/scss/_template.scss */
pre, code, tt {
  white-space: normal;
  background: none;
  border: none;
  margin: .5em 0;
}

/* line 57, ../../src/scss/_template.scss */
table {
  width: 100%;
}
/* line 65, ../../src/scss/_template.scss */
table td, table th {
  word-wrap: break-word;
}
/* line 70, ../../src/scss/_template.scss */
table tbody tr:nth-child(odd) {
  background: #eee;
}

/* line 3, ../../src/scss/_typography.scss */
body {
  font-size: 13px;
  line-height: 1.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  color: #414141;
}

/* line 11, ../../src/scss/_typography.scss */
a {
  text-decoration: none;
  color: #414141;
}

/* line 16, ../../src/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 .8em;
}

/* line 21, ../../src/scss/_typography.scss */
h1 {
  font-size: 2em;
}
/* line 23, ../../src/scss/_typography.scss */
h1.title {
  margin: .6em 0;
}

/* line 36, ../../src/scss/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/* line 56, ../../src/scss/_typography.scss */
strong {
  font-weight: bold;
}

/* line 59, ../../src/scss/_typography.scss */
em {
  font-style: italic;
}

@media print {
  /* line 1, ../../src/scss/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 9, ../../src/scss/_print.scss */
  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  /* line 21, ../../src/scss/_print.scss */
  #page {
    width: 100%;
  }

  /* line 23, ../../src/scss/_print.scss */
  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  /* line 32, ../../src/scss/_print.scss */
  a:hover, a:active, a:link, a:visited {
    color: #414141;
  }

  /* line 37, ../../src/scss/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 41, ../../src/scss/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 45, ../../src/scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 53, ../../src/scss/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 58, ../../src/scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 65, ../../src/scss/_print.scss */
  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
